{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            background-image: url("{% static 'Img/fondo.jpeg' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            
        }
    </style>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/974e9684a9.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/estilo2.css" %}">
    <link rel="stylesheet" href="">
    <title>Login</title>

</head>
<body>
    <section>
        <div class="contenedorL">
            <div class="formulario">
                <form method='POST'>
                    <h2>Iniciar Sesion</h2>

                    <p class='Error'><center>{{'Error'}}</center></p>

                    {% csrf_token %}

                    <div class="input-contenedor">
                        <input type="text" name="username" class="input-contenedor" maxlength="250" required="" id="id_username">
                        <label for="id_username">Nombre de usuario:</label>
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    
                    <div class="input-contenedor">
                        <input type="password" name="password" class="input-contenedor" maxlength="250" required="" id="id_password">
                        <label for="id_password">Contraseña:</label>
                        <i class="fa-solid fa-eye"></i>
                    </div>

                    <div class="olvidar">
                        <label for="#">
                            <a href="#">Olvide Contraseña</a>
                        </label>
                    </div>
                    <button>Acceder</button>
                </form>

                <div>

                    <div class="registrar">
                        <p>No tengo cuenta <a href="http://127.0.0.1:8000/SignUp">Crear una cuenta</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>