* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.movie-card img {
    width: 100%;
    border-radius: 5px;
}

.movie-card h2 {
    margin-top: 15px;
    color: #fff;
}

.movie-card p {
    color: #ddd;
    margin-top: 10px;
}

.movie-card p:first-of-type {
    font-weight: bold;
}

.movie-card p:nth-of-type(2) {
    max-height: 100px;
    overflow: hidden;
}

.movie-card p:nth-of-type(3),
.movie-card p:nth-of-type(4) {
    margin-top: 5px;
}